.card {
  width: 18rem;
}
.list-group-item {
  cursor: pointer;
}
.card {
  top: 0;
  left: 25%;
}
.error-massage {
  color: red;
}
.show {
  display: block !important;
}
.container-form {
  width: 350px;
}
